html,
body {
  height: 100%;
}
@function vw($px){
    @return ($px/750)*100vw;
}
#hunli {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#hunli .header{
    height: vw(106);
    display: flex;
    justify-content: space-between;
    align-items: center;
  .logo{
    align-items: center;
      margin-left: vw(32);
      display: flex;
     
     
      span{
          display: inline-block;
          margin-left:vw(24);
          font-size: vw(26);

      }
      img{
          display: inline-block;
          width: vw(184);
          height: vw(64);
         }
      
     }
  .iconfont{
    font-family: "iconfont" !important;
    font-size:vw(38);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
            }

}
.main{
    flex:1;
    overflow: auto;
    background-color: aliceblue;
    .banner{
        width: 100%;
        text-align: center;
        display: inline-block;
        position: relative;
        // width: vw(686);height:vw(276);
        height:vw(276);
        img{
            display:inline-block;
            height:vw(276);
        }
        .popo{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .popo img{
            display:inline-block;
            height:vw(56);
        }
    }
    .shangping{
        height:vw(262);
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        li{ text-align: center;
            width: vw(150);
            height: vw(108);
            display: flex;
            flex-direction: column;

            i img{
                display: inline-block;
                width:vw(62);
                height: vw(62);
            }
            span{
                display: inline-block;
                font-size: vw(25);
            }
        }
    }
    .beijin{
        margin-left: vw(32);
        margin-top: vw(62);
        height: vw(342);
        display: flex;
        justify-content: space-between;
        
        .let img{
            display: inline-block;
            width: vw(338);
            height: vw(342);
         }
         .rih{
             p img{
                 display: inline-block;
                width: vw(335);
                height: vw(158);
             }
         }
    }
    .title{
        height: vw(50);
        display: flex;
        margin: vw(70);
        justify-content: space-between;
        span{
            display: inline-block;
            font-size: vw(26);
            color: #cccccc;
        }
    }
    .titi{ overflow: auto;
        height: vw(362);
        display: flex;
        margin-top: vw(40);
        margin-left: vw(32);
        justify-content: space-between;
        li{  
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: vw(285);
            display: flex;
            box-shadow: vw(0) vw(0) vw(5) vw(0) #cccccc;
            background-color: white;
            flex-direction: column;
            p{
                font-size: vw(26);
                line-height: vw(60);
            }
            .spa{
                display: inline-block;
                color: yellow;
                margin-bottom: vw(18);
            }
            .spa1{
                display: inline-block;
                color:#cccccc;
               font-size: vw(25);
            }
            .i1{
            
                display: inline-block;
                width: vw(120);
                height: vw(120);
                border-radius: 50%;
                background-image: url(../images/chuntian.jpg);
                background-size: cover;
            }
            .i2{
                display: inline-block;
                width: vw(120);
                height: vw(120);
                border-radius: 50%;
                background-image: url(../images/mengna.jpg);
                background-size: cover;
            }
            .i3{
                display: inline-block;
                width: vw(120);
                height: vw(120);
                border-radius: 50%;
                background-image: url(../images/weinasi.jpg);
                background-size: cover;
            }
            .i4{
                display: inline-block;
                width: vw(120);
                height: vw(120);
                border-radius: 50%;
                background-image: url(../images/niuyue.jpg);
                background-size: cover;
            }
        }
    }
    .chenshi{
        margin-top: vw(75);
        h2{margin-left: vw(32);
            
        }
    }
    .ma{
        height: vw(188);
        background-image:url(../images/ma.png);
        position: relative;
        .cc{
            position: absolute;
            top: vw(45);
            left: 10.33333vw;
            width: vw(608);
            height: vw(268);
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: white;

            .lis{ width: vw(68);
                    li{
                        line-height: vw(75);
                        font-size: 10px;
                    }
            }
        }
    }
    .jiehun{
        margin-left: vw(32);
        height: vw(142);
        margin-top: vw(190);
        h2{
            margin-bottom: vw(45);
        }
        .dianzi{
            display: flex;
            li{
                width: vw(234);
                height: vw(140);
                margin-right: vw(22);
                border-radius: vw(40);
                background-color: white;
                box-sizing: border-box;
                p{
                    line-height: vw(58);
                    margin-left: vw(30);
                }
                .span1{
                    display: inline-block;
                    margin-left: vw(30);
                    font-size: vw(26);
                    color: #7c7c7c;
                    margin-right: vw(20);
                }
                .xiao img{
                    display: inline-block;
                    width: vw(44);
                    height: vw(44);
                   
                }
            }
        }
    }
    .yong{
        height: vw(50);
        display: flex;
        margin-top: 15.26667vw;
        margin-bottom: vw(45);
        margin-left: vw(32);
        justify-content: space-between;
        span{
            display: inline-block;
            font-size: vw(26);
            color: #cccccc;
     } 
    }
     .jj{
         height: vw(402);
         margin-left: vw(32);
         display: flex;
         .lee{
             width: vw(344);
             p img{
                 display: inline-block;
                 width: vw(344);
                 height: vw(201);
             }
         }
         .rri img{
            display: inline-block;
            width: vw(344);
            height: vw(402);
         }
     }
     .meitu{
        height: vw(50);
        display: flex;
        margin-top: vw(77);
        margin-bottom: vw(45); margin-left: vw(32);
        justify-content: space-between;
        span{
            display: inline-block;
            font-size: vw(26);
            color: #cccccc;
     } 
    }
    .you{
        width: vw(648);
        margin-left: vw(72);
        height: vw(302);
        margin-top:vw(86);
        border-radius: vw(30);
        background-color: white;
        position: relative;
   
        .ren{
            width: vw(440);
            height: vw(302);
            border-radius: vw(30);
            position: absolute;
            top: vw(-42);
            left: vw(-42);
            img{
                display: inline-block;
                width: vw(440);
                height: vw(302);
            }
        }
        span{
            position: absolute;
            top: vw(76);
            right: vw(48);
        }
        .icn{
            img{
                display: inline-block;
            width: vw(56);
        height: vw(56);}
            position: absolute;
            top: vw(160);
            right: vw(156);
        }
    }
    .bu{
        height: vw(274);
        margin-top: vw(18);
        background-color: #f8f8f8;

        ul{
            height: vw(274);
            display: flex;
            justify-content: space-between;
            li{
                width: vw(216);
                height: vw(274);
                display: flex;
                background-color: white;
                border-radius: vw(30);
                flex-direction: column;
                text-align: center;
                i{
                    display: inline-block;
                    width: vw(216);
                    height: vw(160);
                    margin-bottom: vw(26);
                    // border-radius:vw(30) vw(30) vw(0) vw(0);
                }
                i img{
                    border-radius:vw(30) vw(30) vw(0) vw(0);
                    display: inline-block;
                    width: vw(216);
                    height: vw(160);
                }
            }
        }
    }
    .metu{
        height: vw(50);
        display: flex;
        margin-left: vw(32);
        margin-top: vw(77);
        margin-bottom: vw(45);
        justify-content: space-between;
        span{
            display: inline-block;
            font-size: vw(26);
            color: #cccccc;
     } 
    }
    .qian{
        margin-bottom: vw(52);
        height: vw(242);
        position: relative;
        display: flex;
        .left img{
            display: inline-block;
            width: vw(280);
            height: vw(220);
        }
        .left1 img{
            display: inline-block;
            width: vw(88);
            height: 35.33333vw;
            position: absolute;
            top: -7px;
            left: 96px;
           
        }
        .neirong{
            margin-top: vw(36);
            // width: vw(365);
            height: vw(172);
            margin-left: vw(34);
            p{
                margin-bottom: vw(54);
            }
            .span1{
                font-size: vw(22);
                color: #696969;
                margin-left: vw(72);
            }
            .span2 img{
                display: inline-block;
                width: vw(56);
                height: vw(56);
            }
        }
        
    }
}
.footer{
    height: vw(289);
    background-color: #f1f2f6;
    .foot{
        margin-top: vw(60);
        text-align: center;


        .pan1{
            display: inline-block;
            width: vw(200);
            height: vw(60);
            background-color: red;
            border-radius: vw(60);
            color: white;
            line-height: vw(60);
            margin-right: vw(40);
        }
        .pan2{
            display: inline-block;
            width: vw(200);
            height: vw(60);
            line-height: vw(60);
            background-color: white;
            border-radius: vw(60);
            color: red;
        }
        .p2{font-size: vw(26);
            line-height: vw(65);
            color: #9b9a9f;
        }
        .p3{
            font-size: vw(26);
            // line-height: vw(40);
            color: #9b9a9f;
        }
    }

}