html,
body {
  height: 100%;
 
}
@function vw($px){
    @return ($px/750)*100vw;
}
.jin {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.jin .header{
    background-color: aqua;
    // display: flex;
    // position: relative;
    // height:vw(90);

.content{
    width: vw(750);
    position: relative;
    height:vw(90);
    

    .titl{
        width: vw(90);
        line-height: vw(90);
        text-align: center;
        height: vw(90);position: absolute;
     span img{
       
         width: vw(30);
         height: vw(40);
     }
    }
    .ji{
      line-height: vw(90);
        text-align: center;
        
    }
    .titl1{
        width: vw(90);
        line-height: vw(90);
        text-align: center;
        top: vw(0);
        right: vw(0);
        height: vw(90);position: absolute;
     span img{
       
         width: vw(45);
         height: vw(15);
     }
    }
}
}

.beijing{
    // width: vw(750);
    height: vw(406);
    position: relative;
    background-image: url(../images/beijing.png);
    background-size: vw(750) vw(406);
    .biao{
        width: vw(616);
        height: vw(58);
       
        border: 1px solid white;
    
        background-color: white;
        border-radius: 20px;
        margin-top: vw(30);
        margin-left: vw(30);
        overflow: hidden;
    }
    i{  display: inline-block;
         width: vw(36);
        height: vw(36);
        margin-left: vw(10);
      background-image: url(../images/sea.png);
      background-size: vw(36) vw(36);
      background-position: vw(32);

    }
    .int{
        line-height: vw(58);
        height: vw(58);
        text-align: center;
        background-image: url(../images/fire.png);
        background-repeat: no-repeat;
        background-size: vw(30) vw(25);
        background-position: vw(10) vw(20);
    }
}
.gif{
    position: absolute;
    width: vw(58);
    top: vw(34);
    right: vw(26);
    height: vw(58);
    span img{
        width: vw(58);
        height: vw(58);
    }
}
.lis{

    height: vw(50);
    display:flex;
    margin-top: vw(40);
    justify-content: space-around;
li{
    width: vw(75);
    height: vw(50);
    font-size: vw(30);
    color: white;
    text-align: center;
}
.li1{
    position: relative;
}
span::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 2px;
    width: 10px;
    background: #fff;
    border-radius: 2px;
}
}
.banner{
    position: absolute;
   
    display: flex;
    width: vw(692);
    height:vw(198);
    bottom: -26vw;
    left: vw(30);
    overflow: hidden;
    img{
        animation: lu 8s  linear infinite ;
        width: vw(692);
        height:vw(198);
    }
    .banner::after{
        content: "";
        display: block;
        clear: both;
    }
    @keyframes lu {
        0%{
            transform: translateX(0px);
        }
        20%{
            transform: translateX(0px);
        }
        25%{
            transform: translateX(-346px);
        }
        45%{
            transform: translateX(-346px);
        }
        50%{
            transform: translateX(-692px);
        }
        70%{
            transform: translateX(-692px);
        }
        75%{
            transform: translateX(-1038px);
        }
        95%{
            transform: translateX(-1038px);
        }
        100%{
            transform: translateX(-1039px);
        }
    }
}
.main{
    flex: 1;
    margin-top: 110px;
    .list{
        margin: auto;
        width: vw(660);
        height: vw(262);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    li{
        width: vw(124);
        height: vw(118);
        display: flex;
        text-align: center;
        flex-direction: column;
        span{
            font-size: vw(26);
        }
        i img{
            width: vw(100);
            height: vw(64);
        }
    }
    }
}
.mia{
    height: vw(45);
    display: flex;
    position: relative;
    
    .biping span:nth-child(1){
        font-size: vw(38);
    }
    .biping span:nth-child(2){
        font-size: vw(36);
        color: red;
    }
    .titi{
        // height: vw(45);
        margin-left: vw(25);
        span:nth-child(1){
            font-size: vw(18);
            border-radius: 10px 0 0 0;
            border: vw(2) solid #a26962;
        }
       span:nth-child(2){
           font-size: vw(18);
           border-radius: 0 10px 10px 0;
            background-color: red;
            border: vw(2) solid #a26962;
        }
    }
    .gi{
        position: absolute;
        right: 0;
        top: 0;
        span:nth-child(1){
            font-size: vw(32);
            color: #cccccc;
            margin-right: vw(10);
            
        }
        span:nth-child(2){
            font-size: vw(32);
            color: #cccccc;
            
        }
    }
}
.main .mia2{
    height: vw(348);
    display: flex;
    overflow: hidden;
    margin: vw(32) vw(32) vw(0) vw(32);
  
    .mia2::after{
        content: "";
        display: block;
        clear: both;
    }
    @keyframes jj {
        0%{
            transform: translateX(0px);
        }
        25%{
            transform: translateX(0px);
        }
        45%{
            transform: translateX(-343px);
        }
        50%{
            transform: translateX(-343px);
        }
        70%{
            transform: translateX(-686px);
        }
        75%{
            transform: translateX(-686px);
        }
       
        100%{
            transform: translateX(-688px);
        }
    }
  .list1{
      display: flex;
      animation: jj 8s linear infinite;
    justify-content: space-between;
      height: vw(348);
      .ll{
        margin-right: vw(20);
          text-align: center;
          width: vw(212);
          height: vw(348);
          i img{
              width: vw(212);
              height: vw(218);
            }
            p{
                font-size: vw(28);
                color: red;
            }
            span{
                font-size: vw(18);
                color:#cccccc;
            }
        }

  }

}
.title{
    background-color: #f5f5f5;
    margin-top:vw(15);
    text-align: center;
    i img{
        width: vw(110);
        height: vw(40);
    }
    span{
        font-size: vw(38);
        margin-left: vw(10);
    }
}
.lie{
    background-color: #f5f5f5;
    column-count: 2;
    column-gap: vw(20);
    column-width: vw(335);
    margin: vw(40) vw(30) vw(30) vw(30);
    .qwe{
        background-color: white;
        break-inside: avoid;
        width: vw(335);
      
        margin-bottom: vw(20);
        i{
            display: inline-block;
            width: vw(335);
            height: vw(336); 
        }
        i img{
            width: vw(335);
            height: vw(336);
           
         }
         p{
             font-size: vw(32);
            margin-top: vw(18);
            
        }
      
     span{
        font-size: vw(30);
        color: red;
      }
      .pp{
        font-size: vw(28);
          color: #cccccc;
      }
    }

    .wer{
        background-color: white;
        break-inside: avoid;
        width: vw(335);
      
        margin-bottom: vw(20);
        i{
            display: inline-block;
            width: vw(335);
            height: vw(360); 
        }
        i img{
            width: vw(335);
            height: vw(360);
           
         }
         p{
             font-size: vw(32);
            margin-top: vw(18);
            
        }
      
     span{
        font-size: vw(30);
        color: red;
      }
      .pp{
        font-size: vw(28);
          color: #cccccc;
      }
    }
}
.footer{
    // height: vw(110);
    .ssj{
        width: vw(630);
        display: flex;
        margin: auto;
      
        justify-content: space-between;
        align-items: center;
        li{
            display: flex;
            text-align: center;
        flex-direction: column;
        }
        .iocnfont {
            font-family: "iconfont" !important;
            font-size: vw(44);
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
          span{
              display: inline-block;
              margin-bottom: vw(30);
              line-height: vw(40);
          }
    }
}