#xiaolu{
    width: 100%;
    height: 4455px;
}
#xiaolu .header{
    width: 1202px;
    height: 70px;
    margin: auto;
    /* position: fixed;
    z-index: 10; */
}
#xiaolu .header h1{
    padding: 17px 0px 0px 100px;
    float: left;
}
#xiaolu .header span{
     line-height: 4;
    padding: 20px;
    color: #f6ac16;
}
#xiaolu .header li{
    float: left;
    padding:0px 20px;
    
    /* margin-right: 30px;  */
}
#xiaolu .header ul{
    float: right;
    
}
.header a{
    display: block;
    color: black;
    text-align: center;line-height: 70px;
}
.header a:hover{
    color: #ffa000;display: block;
}
.banner{
    height: 350px;
    background-image: url(../images/banner.png);
     background-size: 1502px;
     background-position: center center;
     background-repeat: no-repeat;
     position: relative;
     overflow: hidden;
    
} 
.banner .list{
    position: relative;
    width: 240px;
    height: 280px;
    box-sizing: border-box;
    background: rgba(0, 0,0,0.3);
    margin-top: 35px;
    margin-left: 100px;
}
.banner .gg1{
    position: absolute;
    top: -35px;
    left: 190px;
    transform: translate(-50% -50%);
}
.banner .gg1 {
    width: 400px;
    height: 280px;
    box-sizing: border-box;
    background: #939090;
    margin-top: 35px;
    padding-left: 30px;
    display: none;
}
.list .yiji1 a{
    color: #f8f8f8;
}
.list .yiji2 a{
    color: #f8f8f8;
}
.list .yiji3 a{
    color: #f8f8f8;
}
.list .yiji4 a{
    color: #f8f8f8;
}
.list .yiji5 a{
    color: #f8f8f8;
}
.list .yiji1:hover .gg1{
    display: block;
}
.list .yiji2:hover .gg1{
    display: block;
}
.list .yiji3:hover .gg1{
    display: block;
}
.list .yiji4:hover .gg1{
    display: block;
}
.list .yiji5:hover .gg1{
    display: block;
}
.list .yiji1:hover {
    background: #939090;
}
.list .yiji2:hover {
    background: #939090;
}
.list .yiji3:hover {
    background: #939090;
}
.list .yiji4:hover {
    background: #939090;
}
.list .yiji5:hover {
    background: #939090;
}

.list .gg1 a:hover {
   color: #f6ac16;
}
.banner .gg1 li a{
    margin-right: 40px;
    line-height: 40px;
    float: left;
}
.banner .list li{
    width: 100%;
    line-height: 50px;
    text-align: center;
}
.daohang{
    width: 89px;
    height: 320px;
    position: fixed;
    background-color: white;
    right: 0px;
    bottom: 200px;
}
.daohang .dao1{
    width: 80px;
    height: 80px;
    border: 1px solid #cccccc;
}
.daohang .t1{
    width: 26px;
    height: 26px;
    margin: 13px auto;
    background:url(../images/icon-about-0.png) no-repeat,url(../images/icon-about-1.png) no-repeat;
}
.dao1 p{
    font-size: 13px;
    color: #cccccc;
    text-align: center;
}
.daohang .dao2{
    width: 80px;
    height: 80px;
    border: 1px solid #cccccc;
    position: relative;
}
.daohang .t1{
    width: 26px;
    height: 26px;
    margin: 13px auto;
    background:url(../images/icon-about-0.png) no-repeat,url(../images/icon-about-1.png) no-repeat;
}
.dao2 p{
    font-size: 13px;
    color: #cccccc;
    text-align: center;
}
.dao2 .rry img{
    width: 120px;
    height: 120px;;
}
.dao2:hover .rry{
    display: block;
}
.dao2 .rry{
    display: none;
    position: absolute;
    bottom: -170px;
    left: -140px;
    width: 120px;
    height: 170px;
    padding: 7px;
    background: #fff;
}
.dao1:hover p{
    color: #f6ac16;
}
.dao1:hover .t1{
    background:url(../images/icon-about-1.png);
}
.dao2:hover p{
    color: #f6ac16;
}
.dao2:hover .t1{
    background:url(../images/icon-about-1.png);
}
 .main{
     width: 100%;
     height: 148px;
 }
 .main .content{
     width:1202px;
     height: 100%;
     margin: auto;
 }
 .main .content p{
    font-size: 18px;
    margin-top: 20px;
 }
 .main .content .jj1{
     width: 108px;
     height: 102px;
     float: left;
     margin-left: 80px;
     margin-right: 10px;
     text-align: center;
 }
 .main .content .jj1 span{
     width: 60px;
     height: 60px;
     display: block;
     background-image: url(../images/icon-proimse-1.png);
     margin: auto;
    
    }
 .main .content .jj2{
    width: 108px;
    height: 102px;
    float: left;
    margin-left: 80px;
    margin-right: 10px;
    text-align: center;
}
.main .content .jj2 span{
    width: 60px;
    height: 60px;
    display: block;
    background-image: url(../images/icon-proimse-2.png);
    margin: auto;
}
.main .content .jj3{
    width: 108px;
    height: 102px;
    float: left;
    margin-left: 80px;
    margin-right: 10px;
    text-align: center;
}
.main .content .jj3 span{
    width: 60px;
    height: 60px;
    display: block;
    background-image: url(../images/icon-proimse-3.png);
    margin: auto;
}
.main .content .jj4{
    width: 108px;
    height: 102px;
    float: left;
    margin-left: 80px;
    margin-right: 10px;
    text-align: center;
}
.main .content .jj4 span{
    width: 60px;
    height: 60px;
    display: block;
    background-image: url(../images/icon-proimse-4.png);
    margin: auto;
}
.main .content .jj5{
    width: 108px;
    height: 102px;
    float: left;
    margin-left: 80px;
    margin-right: 10px;
    text-align: center;
}
.main .content .jj5 span{
    width: 60px;
    height: 60px;
    display: block;
    background-image: url(../images/icon-proimse-5.png);
    margin: auto;
}
.main .content .jj6{
    width: 108px;
    height: 102px;
    float: left;
    margin-left: 80px;
    margin-right: 10px;
    text-align: center;
}
.main .content .jj6 span{
    width: 60px;
    height: 60px;
    display: block;
    background-image: url(../images/icon-proimse-6.png);
    margin: auto;
}
.main2{
    width: 100%;
    height: 420px;
}
.main2 .content{
    width: 1202px;margin: auto;
    height: 420px;
}
.main2 .content span{
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
}
.main2 .content i{
    font-size: 13px;
    margin-left: 20px;
}
.main2 .content .miji{
    width: 100%;
    height: 360px;
    margin-top: 20px;
}
.main2 .content .wanhui{
    width: 540px;
    height: 360px;
    position: relative;
    overflow: hidden;
    transition: all 2s;
    cursor: pointer;
}
.wanhui:hover img{
    width: 580px;
    position:absolute;
    height: 400px;
    transform: scale(2);
}
.main2 .content .wanhui h4{
 height: 80px;
 line-height: 80px;
 padding-left: 30px;
 bottom: 0;
 left: 0;
 width: 510px;
 position: absolute;
 color: #ffffff;
 background-color:#242627;
 overflow: hidden;
 opacity: 0.7;
}
.main2 .leng{
    width: 260px;
    height: 360px;
    float: left;
    margin-left: 10px;
}
.main2 .leng1{
    width: 260px;
    height: 175px;
    position: relative;
    overflow: hidden;
    transition: all 2s;
    cursor: pointer;
}
.main2 .leng1 img{
    width: 260px;
    height: 175px;
}
.leng1:hover img{
    transform: scale(2);
}
.main2 .content .leng1 h4{
    height: 80px;
    line-height: 80px;
    bottom: 0;
    left: 0;
    width: 260px;
    position: absolute;
    color: #ffffff;
    background-color:#2e4d56;
    overflow: hidden;
    opacity: 0.5;
   }
   .main2 .leng2{
    width: 260px;
    height: 175px;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    transition: all 2s;
    cursor: pointer;
}
.main2 .leng2 img{
    width: 260px;
    height: 175px;
}
.leng2:hover img{
    transform: scale(2);
}
.main2 .content .leng2 h4{
    height: 80px;
    line-height: 80px;
    bottom: 0;
    left: 0;
    width: 260px;
    position: absolute;
    color: #ffffff;
    background-color:#2e4d56;
    overflow: hidden;
    opacity: 0.5;
   }
   .main2 .qin{
    width: 260px;
    height: 360px;
    float: left;
    margin-left: 10px;
}
.main1{
    width: 1202px;
    color: #ffffff;
    margin: auto;
}
.main1 .nav{
    width: 1200px;
    height: 80px;
}
.main1 .nav li{
    margin-right: 50px;
    float: left;
    line-height: 80px;
    color: black; 
}
.main1 .nav a{
    color: black; 
}
.nav a:hover{
    color: #f6ac16;
}
.main1 .nav span{
    font-size: 14px;
    color: #cccccc;
    line-height: 80px;
    margin: 80px 0px 0px 200px;
}
.main1 .list .list1{
    width: 571px;
    height: 160px;
    float: left;
    margin-top: 38px;
    overflow: hidden;
    transition: all 3s;
    cursor: pointer;
}
.list1:hover img{
    transform: scale(1.1);
}
.main1 .list .list1:nth-child(2n+1){
    margin-right: 60px;
}
.list1 .neirong{
    width: 300px;
    height: 160px;
    margin-left: 28px;
}
.list1 .neirong h3{
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
}
.list1 .neirong .span1{
    font-size: 14px;
    color: #dacdcd;
}
.list1 .neirong .span2{
    font-size: 14px;
    color: #dacdcd;
    margin-left: 43px;
}
.list1 .neirong p{
    font-size: 15px;
    color: #333333;
    margin-top: 30px;
}
.main3{
    width: 100%;
    height: 674px;
}
.main3 .content{
    width: 1200px;
    height: 674px;
    margin: auto;
    overflow: hidden;
    background-color: #f8f8f8;
}
.main3 .content .span1{
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
}
.main3 h3{
    margin-top: 30px;
}
.main3 .content i{
    margin-top: 30px;
    font-size: 13px;
    margin-left: 20px;
}
.main3 .span2{
    font-size: 14px;
    color: #cccccc;
    margin: 80px 0px 0px 850px;
}
.main3 .qiuzu{
    margin-top: 20px;
    width: 1200px;
    height: 180px;
    overflow: hidden;
    background-image: url(../images/bg-help.png);
}
.qiuzu .liji{
  width: 800px;
  margin: 0 auto;
  padding: 20px 0px 0px 100px;
}
.qiuzu .liji1{
   float: left;
}
.qiuzu .liji1 h3{
    font-size: 30px;
    color: #333333;
    margin-bottom: 20px;
}
.qiuzu .liji1 p{
    font-size: 15px;
    color: #333333;
}
.qiuzu .yuanjiao{
    width: 180px;
    height: 60px;
    background: #f6ac16;
    text-align: center;
    position: relative;
    border-radius: 60px;
    margin-top: 30px;
    position: relative;
}
.qiuzu .yuanjiao span{
    font-size: 18px;
    line-height: 60px;
    color: #ffffff;
    display: block;
}
.erwei p{
    font-size: 14px;
    line-height: 1.4;
}
.erwei{
    position: absolute;
    display: none;
    bottom: -90px;
    left: -40px;
    width: 220px;
    height: 182px;
    padding: 10px;
    background: #fff;
}
.erwei img{
    width: 140px;
    height: 140px;
    margin-top: 4px;
}
.yuanjiao:hover .erwei{
display: block;
}
.main3 .sty{
    width: 1200px;
    height: 336px;
    margin: auto;
    margin-top: 30px;
}
.main3 .sty1{
    width: 270px;
    height: 345px;
    background: #ffffff;
    margin-right: 38px;
}
.main3 .sty2{
    width: 270px;
    height: 345px;
    background: #ffffff;
    margin-right: 39px;
}
.main3 .sty3{
    width: 270px;
    height: 336px;
    background: #ffffff;
    margin-right: 39px;
}
.main3 .sty4{
    width: 270px;
    height: 345px; background: #ffffff;
    margin-right: 0px;
}
.sty1 .list{
    width: 270px;
    height: 245px;
    position: relative;
}
.sty1 .list img{
    width: 270px;
    height: 190px;
}
.sty1 .list p{
    width: 116px;
    height: 18px;
    color: white;
    position: absolute;top: 95px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.list ul{
    margin-top: 8px;
}
.list ul .it1{
    padding: 10px;
    font-size: 10px;margin-left: 15px;
    background: #fdf2e9;
    border-radius: 60px;
}
.sty1 .list2{
    width: 232px;
    height: 92px;margin: auto;
    border-top: 1px silver dashed;
    
}
.list2 ul li{
    background-image: url(../images/icon-q.png);
    background-position:-5px center;
    background-repeat: no-repeat;
    margin-left: 20px;
    padding: 5px;
    font-size: 10px;
}
.list2 a{
    display: block;color: black;
    margin-left: 15px;
}

.sty2 .list{
    width: 270px;
    height: 245px;
    position: relative;
}
.sty2 .list img{
    width: 270px;
    height: 190px;
}
.sty2 .list p{
    width: 116px;
    height: 18px;
    color: white;
    position: absolute;top: 95px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.list ul{
    margin-top: 8px;
}
.list ul .it1{
    padding: 10px;
    font-size: 10px;margin-left: 15px;
    background: #fdf2e9;
    border-radius: 60px;
}
.sty2 .list2{
    width: 232px;
    height: 92px;margin: auto;
    border-top: 1px silver dashed;
    
}
.list2 ul li{
    background-image: url(../images/icon-q.png);
    background-position:-5px center;
    background-repeat: no-repeat;
    margin-left: 20px;
    padding: 5px;
    font-size: 10px;
}
.list2 a{
    display: block;color: black;
    margin-left: 15px;
}
.sty3 .list{
    width: 270px;
    height: 245px;
    position: relative;
}
.sty3 .list img{
    width: 270px;
    height: 190px;
}
.sty3 .list p{
    width: 116px;
    height: 18px;
    color: white;
    position: absolute;top: 95px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.list ul{
    margin-top: 8px;
}
.list ul .it1{
    padding: 10px;
    font-size: 10px;margin-left: 15px;
    background: #fdf2e9;
    border-radius: 60px;
}
.sty3 .list2{
    width: 232px;
    height: 92px;margin: auto;
    border-top: 1px silver dashed;
    
}
.list2 ul li{
    background-image: url(../images/icon-q.png);
    background-position:-5px center;
    background-repeat: no-repeat;
    margin-left: 20px;
    padding: 5px;
    font-size: 10px;
}
.list2 a{
    display: block;color: black;
    margin-left: 15px;
}
.sty4 .list{
    width: 270px;
    height: 245px;
    position: relative;
}
.sty4 .list img{
    width: 270px;
    height: 190px;
}
.sty4 .list p{
    width: 116px;
    height: 18px;
    color: white;
    position: absolute;top: 95px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.list ul{
    margin-top: 8px;
}
.list ul .it1{
    padding: 10px;
    font-size: 10px;margin-left: 15px;
    background: #fdf2e9;
    border-radius: 60px;
}
.sty4 .list2{
    width: 232px;
    height: 92px;margin: auto;
    border-top: 1px silver dashed;
    
}
.list2 ul li{
    background-image: url(../images/icon-q.png);
    background-position:-5px center;
    background-repeat: no-repeat;
    margin-left: 20px;
    padding: 5px;
    font-size: 10px;
}
.list2 a{
    display: block;color: black;
    margin-left: 15px;
}
.main4{
    width: 100%;
    height: 1050px;
}
.main4 .content{
    width:1200px;
    height: 100%;
    margin: auto;
}
.main4 .content span{
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
}
.main4 h3{
    margin-top: 30px;
}
.main4 .content i{
    font-size: 13px;
    margin-left: 20px;
}
.main4 .banner{
    width: 1200px;
    height: 350px;
    margin-top: 20px;
    background: url(../images/bg-counsoler.png)
}
.banner .wenti{
    width: 265px;
    height: 290px;
    background: rgba(0,0,0,0.5);
    margin: 30px 0px 0px 30px;
    font-size: 14px;
    padding: 0 30px;
}
.wenti h3{
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 15px;
}
.wenti h3::before{
    content: '';
    position: relative;
    top: -5px;
    display: inline-block;
    width: 76px;
    margin-right: 10px;
    border-top:1px dashed rgba(255,255,255,0.5);
}
.wenti h3::after{
    content: '';
    position: relative;
    top: -5px;
    display: inline-block;
    width: 76px;
    margin-right: 10px;
    border-top:1px dashed rgba(255,255,255,0.5);
}
.wenti ul li {
    width: 80px;
    height: 30px;
    line-height: 36px;
    float: left;
    margin: 3px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}
.wenti a{
    width: 80px;
    height: 30px;
    display: block;
    color: black;
    border-radius: 10px;
}
.wenti li:hover a{
    background: #f6ac16;
}
.main4 .title{
    width: 1200px;
    height: 44px;padding: 40px 0px 30px;

}
title ul{
    float: left;
}
.title ul li{
    padding-left: 25px;
    font-size: 14px;
    float: left;
}
.main4 .title .ww{
    font-size: 14px;
}
.main4 .title .kk{
    font-size: 14px;
}
.ww:hover{
    color: #f6ac16;
}
.kk:hover{
    color: #f6ac16;
}
.title .kk::before{
    content: '.';
    margin-right: 25px;}
.main4 .gengduo a{
    font-size: 14px;
    color: #9b9b9b;
}
.main4 .hhh{
    width: 1200px;
    height: 274px;
}
.main4 .hhh .guke1{
    width: 224px;
    height: 274px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}
.main4 .hhh .guke1 h3{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.main4 .hhh .guke1 .jing{
    width: 100%;
    height: 100%;
    background-color: #f6ac16;
    position: absolute;
    top: 100%;
    left:0;
    opacity: 0.9;
    transition: all 1s;
}
.main4 .hhh .guke1:hover .jing{
    top: 0;
}
.main4 .hhh .guke2{
    width: 224px;
    height: 274px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}
.main4 .hhh .guke2 .jing{
    width: 100%;
    height: 100%;
    background-color: #f6ac16;
    position: absolute;
    top: 100%;
    left:0;
    opacity: 0.9;
    transition: all 1s;
}
.main4 .hhh .guke2:hover .jing{
    top: 0;
}
.main4 .hhh .guke2 h3{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.main4 .hhh .guke3{
    width: 224px;
    height: 274px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}
.main4 .hhh .guke3 .jing{
    width: 100%;
    height: 100%;
    background-color: #f6ac16;
    position: absolute;
    top: 100%;
    left:0;
    transition: all 1s;
    opacity: 0.9;
}
.main4 .hhh .guke3:hover .jing{
    top: 0;
}
.main4 .hhh .guke3 h3{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.main4 .hhh .guke4{
    width: 224px;
    height: 274px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}
.main4 .hhh .guke4 .jing{
    width: 100%;
    height: 100%;
    background-color: #f6ac16;
    position: absolute;
    top: 100%;
    left:0;
    transition: all 1s;
    opacity: 0.9;
}
.main4 .hhh .guke4:hover .jing{
    top: 0;
}
.main4 .hhh .guke4 h3{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.main4 .hhh .guke5{
    width: 224px;
    height: 274px;
    margin-right: 0px;
    position: relative;
    overflow: hidden;
}
.main4 .hhh .guke5 .jing{
    width: 100%;
    height: 100%;
    background-color: #f6ac16;
    opacity: 0.9;
    position: absolute;
    top: 100%;
    left:0;
    transition: all 1s;
}
.main4 .hhh .guke5:hover .jing{
    top: 0;
}
.main4 .hhh .guke5 h3{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.main4 .yiyou{
    width: 1200px;
    height: 180px;
    margin-top: 30px;
    overflow: hidden;
    background: url(../images/aini.png);
}
.main4 .yiyou .qqq{
    width: 782px;
    height: 100px;margin:auto;
    margin-top: 30px; 
    padding-left: 20px;
}
.main4 .yiyou .qqq .pp{
    width: 460px;
    height: 100%;
}
.main4 .yiyou .qqq h3{
    font-size: 20px;
}
.main4 .yiyou .qqq .lol{
    margin-top: 20px;
}
.main4 .yiyou .qqq .pp1{
    width: 194px;
    height: 100px;
}
.main4 .yiyou .qqq .pp2{
    width: 180px;
    height: 50px;
    background: #f6ac16;
    text-align: center;
    border-radius: 60px;
    margin-top: 20px;
}
.main4 .yiyou .qqq .pp2 .uu1{
font-size: 18px;
line-height: 50px;
color: #ffffff;}
.main4 .yiyou .uu2{
    font-size: 15px;
    margin-top: 10px;
}
.main5{
    width: 100%;
    height: 430px;
} 
.main5 .content{
    width: 1200px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #f8f8f8;
}
.main5 h3{
    margin-top: 30px;
}
.main5 .wu{
    font-size: 20px;
}
.main5 .content .wu1{
    margin-left: 1000px;
    font-size: 15px;
    color: #9bb2d2;
}
.main5 .content .dddd{
    width: 1200px;
    height: 120px;
    margin-top: 20px;
}
.main5 .content .dddd1{
    width: 364px;
    height: 120px;
    margin-right: 30px;
    background-image: url(../images/bg-report-1.png);
}
.main5 .content .dddd2{
    width: 380px;
    height: 120px;
    margin-right: 30px;
    background-image: url(../images/bg-report-1.png);
}
.main5 .content .dddd3{
    width: 380px;
    height: 120px;
    margin-right: 0px;
    background-image: url(../images/bg-report-1.png);
}
.main5 .content a{
    display: block;
    font-size: 18px;
    position: relative;
    padding-left: 16px;
    line-height: 30px;
    color: black;
    padding: 30px;
    
}
.main5 .content a::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 42px;
    left: 13px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #ffa000;
}
.main5 h4{
    font-size: 22px;
    margin-top: 40px;
    margin-left: 20px;
}
.main5 .hehe{
    width: 850px;
    height: 70px;margin-top: 20px;
}
.main5 .hehe .list1{
    margin-right: 20px;
}
.main6{
    width: 100%;
    height: 628px;
}
.main6 .content{
width: 1400px;
height: 100%;
margin: auto;
background-color: #333333;
}
.main6 .content ul{
    margin-left: 40px;
}
.main6 .content .nnv li{
    float: left;
    width: 100px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: rgba(255,255,255,0.1);
    cursor: pointer;
    font-size: 16px;
    margin-top: 56px;
}
/* #ccc{
    display: none;
} */
.main6 .content .nnv li a{
    color: #cccccc;
}
.main6 .content .qwe{
    width: 1200px;
    color: rgba(255,255,255,0.5);
    padding-bottom: 48px;
    margin-bottom: 60px;
    margin-left: 40px;
    border-bottom: 1px solid black;
}
.main6 .content .nnv{
    width: 1200px;
    height: 38px;
}
.main6 .content .ccc{
    width: 1200px;
    margin-top: 60px;
    /* height: 38px; */
}
.main6 .content .ccc a{
    /* display: block; */
    font-size: 14px;
    font-weight: 400;
    color: rgba(255,255,255,0.3);
    line-height: 38px;
    margin-right: 30px;
    margin-left: 35px;
    
}
.main6 .foot{
    width: 1200px;
    height: 270px;margin-left: 35px;
    border-bottom: 1px solid black;
}
.main6 .foot .left{
    width: 700px;
    height: 180px;
    /* padding:10px; */
}
.main6 .foot .right{
    width: 320px;
    height: 180px;
    margin-bottom: 30px;
}
.main6 .foot .left li{
    float: left;
    float: left;
    width: 160px;
    text-align: left;
    font-size: 15px;
    color: #e8e8e8;
}
.main6 .foot .left a{
    display: block;
    padding:4px;
    color: #e8e8e8;
}
.main6 .right{
    color: #e8e8e8;
    font-size: 18px;
}
.main6 .right .nubao{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.right .aqq{
    width: 134px;
    height: 34px;
    text-align: center;
    padding: 10px;
    position: relative;
    background: #9b9b9b;
    color: #fff;
}
.right .aqq .dd img{
    width: 160px;
    height: 160px;
}
.right .aqq .dd{
    display: none;
    position: absolute;
    bottom: 70px;
    left: -25px;
    width: 180px;
    height: 170px;
    padding: 15px;
    background: #ffff;
}
.aqq:hover {
    background-color: #cccccc;
}
.aqq:hover .dd{
    display: block;
}
.right .aqj{
    width: 134px;
    height: 34px;
    background: #9b9b9b;
    color: #fff;
    text-align: center;
   padding: 10px;
   position: relative;
}
.right .aqj .dw img{
    width: 160px;
    height: 160px;
}
.right .aqj .dw{
    display: none;
    position: absolute;
    bottom: 70px;
    left: -25px;
    width: 180px;
    height: 170px;
    padding: 15px;
    background: #ffff;
}
.aqj:hover {
    background-color: #cccccc;
}
.aqj:hover .dw{
    display: block;
}
.main6 .guanfang{
    width: 630px;
    height: 60px;
    
    margin: auto;
    margin-top: 20px;
}
.main6 .guanfang img{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.main6 .guanfang span{
   font-size: 12px;
   margin-left: 10px;
   margin-top: 10px;
}


