#chaofan{
    width:1349px;
    height: 5302px; 
}
.header{
    width: 1349px;
    height: 80px;
    background-color: #fff;
    margin: auto;
}
.header h1{
    margin-left: 98px;
    float: left;
    text-indent: -999px;
    width:420px;
    height: 80px;
    background-image: url(../images/logo.png);
    
}
#chaofan .banner{
    width: 1349px;
    height: 499px; 
    /* background-image: url(../images/xinling.png;);
    background-position: center center; */
}
.main1{
   width: 100%;
   height: 726px;
}
.main1 h2{
    margin-top: 44px;
    text-align: center;
}.main1 p{
    text-align: center;
    margin-top: 26px;
    font-size: 18px;
    color: #796666;
}
.main1 .p1{
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
    color: #796666;
}
.main1 .content{
    width: 1144px;
    height: 436px;
    margin: auto;
    margin-top: 52px;
}
.main1 .content1{
    width: 1144px;
    height: 218px;
}
.main1 .cont-1{
    width: 352px;
    height: 218px;
    background-image: url(../images/bus_tu4.jpg);
    overflow: hidden;
    float: left;
    margin-right: 42px;
}
.main1 .cont-1 .y1{
    width: 230px;
    height: 74px;background-color: #179bde;
    margin: auto;
    margin-top: 72px;
    text-align: center;
}
.main1 .cont-1 h3{
    font-size: 24px;
    color: white;
    padding-top: 20px;
}
.main1 .cont-2{
    width: 352px;
    height: 218px;
    background-image: url(../images/bus_tu2.jpg);
    overflow: hidden;
    float: left;
    margin-right: 42px;
    
}
.main1 .cont-2 .y1{
    width: 230px;
    height: 74px;background-color: #1865cd;
    margin: auto;
    margin-top: 72px;
    text-align: center;
}
.main1 .cont-2 h3{
    font-size: 24px;
    color: white;
    padding-top: 20px;
}
.main1 .cont-3{
    width: 352px;
    height: 218px;
    background-image: url(../images/bus_tu3.jpg);
    overflow: hidden;
    float: left;
    margin-right: 0px;
}
.main1 .cont-3 .y1{
    width: 230px;
    height: 74px;background-color: #fccc11;
    margin: auto;
    margin-top: 72px;
    text-align: center;
}
.main1 .cont-3 h3{
    font-size: 24px;
    color: white;
    padding-top: 20px;
}
.main1 .content2{
    width: 1144px;
    height: 218px;
    margin-top: 4px;
}


.main1 .cont-4{
    width: 352px;
    height: 218px;
    background-image: url(../images/bus_tu5.jpg);
    overflow: hidden;
    float: left;
    margin-right: 42px;
}
.main1 .cont-4 .y1{
    width: 230px;
    height: 74px;background-color: #d7097b;
    margin: auto;
    margin-top: 72px;
    text-align: center;
}
.main1 .cont-4 h3{
    font-size: 24px;
    color: white;
    padding-top: 20px;
}
.main1 .cont-5{
    width: 352px;
    height: 218px;
    background-image: url(../images/bus_tu6.jpg);
    overflow: hidden;
    float: left;
    margin-right: 42px;
    
}
.main1 .cont-5 .y1{
    width: 230px;
    height: 74px;background-color: #f62523;
    margin: auto;
    margin-top: 72px;
    text-align: center;
}
.main1 .cont-5 h3{
    font-size: 24px;
    color: white;
    padding-top: 20px;
}
.main1 .cont-6{
    width: 352px;
    height: 218px;
    background-image: url(../images/bus_tu1.jpg);
    overflow: hidden;
    float: left;
    margin-right: 0px;
}
.main1 .cont-6 .y1{
    width: 230px;
    height: 74px;background-color: #98c634;
    margin: auto;
    margin-top: 72px;
    text-align: center;
}
.main1 .cont-6 h3{
    font-size: 24px;
    color: white;
    padding-top: 20px;
}
.main2{
    width: 100%;
    height: 760px;
    background-color: #ebeff1;
}
.main2 .content{
    width: 1142px;
    height: 100%;
    margin: auto;
}
.main2 h2{
    padding-top: 44px;
    text-align: center;
}.main2 p{
    text-align: center;
    margin-top: 26px;
    font-size: 18px;
    color: #796666;
    overflow: hidden;
}
.main2 .list{
    width: 1142px;
    height: 508px;
    margin: auto;
    margin-top: 54px;
}
.main2 .list1{
    width: 100%;
    height: 166px;
}
    .main2 .list-1{
        width: 283px;
        height: 166px;
        float: left;
        border-right: 1px solid #cccc;
        border-bottom: 1px solid #cccc;
    background-image: url(../images/okcf2.png);
}
.main2 .list-1:hover{
    background-image: url(../images/okcf1.png);
}
.main2 .list1 a{
    display: block;
    width: 283px;
    height: 166px;
}
.main2 .list-2{
    width: 283px;
    height: 166px;
    border-right: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
background-image: url(../images/okcf2.png);
float: left;
}
.main2 .list-2:hover{
background-image: url(../images/okcf1.png);
}
.main2 .list-3{
    width: 283px;
    height: 166px;
    float: left;
    border-right: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
background-image: url(../images/okcf2.png);
}
.main2 .list-3:hover{
background-image: url(../images/okcf1.png);
}
.main2 .list-4{
    width: 283px;
    height: 166px;
    float: left;
    border-right: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
background-image: url(../images/okcf2.png);
}
.main2 .list-4:hover{
background-image: url(../images/okcf1.png);
}
.main2 .list2{
    width: 100%;
    height: 166px;
}
    .main2 .list2-1{
        width: 283px;
        height: 166px;
        float: left;
        border-right: 1px solid #cccc;
        border-bottom: 1px solid #cccc;
    background-image: url(../images/okcf2.png);
}
.main2 .list2-1:hover{
    background-image: url(../images/okcf1.png);
}
.main2 .list2 a{
    display: block;
    width: 283px;
    height: 166px;
}
.main2 .list2-2{
    width: 283px;
    height: 166px;
    border-right: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
background-image: url(../images/okcf2.png);
float: left;
}
.main2 .list2-2:hover{
background-image: url(../images/okcf1.png);
}
.main2 .list2-3{
    width: 283px;
    height: 166px;
    float: left;
    border-right: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
background-image: url(../images/okcf2.png);
}
.main2 .list2-3:hover{
background-image: url(../images/okcf1.png);
}
.main2 .list2-4{
    width: 283px;
    height: 166px;
    float: left;
    border-right: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
background-image: url(../images/okcf2.png);
}
.main2 .list2-4:hover{
background-image: url(../images/okcf1.png);
}

.main2 .list3{
    width: 100%;
    height: 166px;
}
    .main2 .list3-1{
        width: 283px;
        height: 166px;
        float: left;
        border-right: 1px solid #cccc;
        border-bottom: 1px solid #cccc;
    background-image: url(../images/okcf2.png);
}
.main2 .list3-1:hover{
    background-image: url(../images/okcf1.png);
}
.main2 .list3 a{
    display: block;
    width: 283px;
    height: 166px;
}
.main2 .list3-2{
    width: 283px;
    height: 166px;
    border-right: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
background-image: url(../images/okcf2.png);
float: left;
}
.main2 .list3-2:hover{
background-image: url(../images/okcf1.png);
}
.main2 .list3-3{
    width: 283px;
    height: 166px;
    float: left;
    border-right: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
background-image: url(../images/okcf2.png);
}
.main2 .list3-3:hover{
background-image: url(../images/okcf1.png);
}
.main2 .list3-4{
    width: 283px;
    height: 166px;
    float: left;
    border-right: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
background-image: url(../images/okcf2.png);
}
.main2 .list3-4:hover{
background-image: url(../images/okcf1.png);
}
.main3{
    width: 100%;
    height: 682px;
   
}
.main3 .content{
    width: 1142px;
    height: 100%;
 
    margin: auto;
}
.main3 h2{
    padding-top: 44px;
    text-align: center;
}.main3 p{
    text-align: center;
    margin-top: 26px;
    font-size: 18px;
    color: #796666;
    /* overflow: hidden; */
    /* margin-bottom: 20px; */
}
.main3 .con1{
    width: 1142px;
    height: 430px;
    margin-top: 52px;
}
.mian3 .con1-1{
    width: 1142px;
    height: 430px;
    
}
.main3 .con2-1{
    float: left;
    border-right: 1px solid #fff;
}
.main3 .con2-2{
    float: left;
    border-right: 1px solid #fff;
}
.main3 .con2-3{
    float: left;
    border-right: 1px solid #fff;
}
.main3 .con2-4{
    float: left;
    border-right: 1px solid #fff;
}
  
.main3 .con2-4{
    float: left;
    border-right: 1px solid #fff;
}
  
.main3 .con2-4{
    float: left;
    border-right: 1px solid #fff;
}
  
.main3 .con2-4{
    float: left;
    border-right: 1px solid #fff;
}
  
.main3 .con2-4{
    float: left;
    border-right: 1px solid #fff;
}
  
.main4{
    width: 100%;
    height: 820px;
    background-color: #65abc5;
}
.main4 .content{
    width: 1350px;
    height: 100%;
    margin: auto;
    /* background-color: #fff; */
}
.main4 h2{
    padding-top: 44px;
    text-align: center;
}.main4 p{
    text-align: center;
    margin-top: 26px;
    font-size: 18px;
    color: #796666;
    margin-bottom: 50px;
    /* overflow: hidden; */
    /* margin-bottom: 20px; */
}
.main5{
    width: 1142px;
    height: 912px;
    background-color: #fff;
    margin: auto;
}
.main4 h2{
    padding-top: 44px;
    text-align: center;
}.main4 p{
    text-align: center;
    margin-top: 26px;
    font-size: 18px;
    color: #796666;
}
.main5 .contnet{
    width: 1129px;
    height: 182px;
    background-color:pink;
    margin: auto;
}
.main5 img{
    margin-top: 40px;
}
.main6{
    width: 1349px;
    height: 840px;
    background-color: #141414;
}
.main6 .neiron{
    width: 1449px;
    height: 225px;
    background-color: #006acd;
}
.neiron .yan{
    width: 470px;
    height: 225px;
    float: left;
    text-align: center;
    border-right: 1px solid #ccc;
    
}
.neiron .yan p{
    font-size: 76px;
    color: #ffffff;
    text-align: center;

}
.neiron .yan span{
    font-size: 19px;
    color: #ffffff;
   text-align: center;
}
.neiron .yan1{
    width: 470px;
    height: 225px;
    float: left;
    text-align: center;
    border-right: 1px solid #ccc;
}
.neiron .yan1 p{
    font-size: 76px;
    color: #ffffff;
    text-align: center;

}
.neiron .yan1 span{
    font-size: 19px;
    color: #ffffff;
   text-align: center;
}
.neiron .yan2{
    width: 470px;
    height: 225px;
    float: left;
    text-align: center;
    border-right: 1px solid #ccc;
}
.neiron .yan2 p{
    font-size: 76px;
    color: #ffffff;
    text-align: center;

}
.neiron .yan2 span{
    font-size: 19px;
    color: #ffffff;
   text-align: center;
}