html, body {
  height: 100%;
}

#kaiyuan {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 0px) and (max-width: 900px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}

.header {
  width: 100%;
  height: 278px;
  background-color: white;
}

.logo {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 218px;
}

.header .nav {
  margin: auto;
  display: flex;
  width: 690px;
  height: 56px;
  box-sizing: border-box;
  text-align: center;
}

.header .nav li {
  margin: auto;
  line-height: 56px;
  padding: 0 20px;
  border-bottom: 2px solid white;
}

.header .nav li:hover {
  border-color: #e67e22;
}

.header .nav li a {
  color: black;
}

.header .nav li a:hover {
  color: #e67e22;
}

.main {
  flex: 1;
  display: flex;
  background-color: #ebebeb;
}

.main .left {
  margin-top: 30px;
  width: 66.66666667%;
  margin-left: 200px;
}

.left .list1 {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
}

.left .list1 h1 {
  margin: 0;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #e67e22;
}

.left .list1 img {
  width: 420px;
  height: 200px;
  margin-left: 65px;
}

.left .list1 h1 a {
  color: white;
}

.left .na {
  text-align: center;
  margin: 14px 0 0px;
}

.left .na a {
  color: #e67e22;
}

.ccs {
  margin-top: 30px;
  text-align: center;
}

.left .na span {
  color: #959595;
}

.left .list1 .yudu {
  width: 70px;
  height: 36px;
  background-color: #e67e22;
  margin-top: 50px;
}

.left .list1 .yudu:hover {
  background-color: black;
}

.left .list1 .yudu a {
  line-height: 36px;
  color: #ffffff;
}

.left .nacv {
  margin: 0 0 35px;
  text-align: center;
}

.left .nacv span {
  background: #e67e22;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  line-height: 36px;
  padding: 0 14px;
}

.left .nacv a {
  width: 35px;
  line-height: 36px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  background: #e67e22;
}

.main .right {
  margin-top: 30px;
  margin-right: 200px;
  margin-left: 30px;
  width: 33.33333333%;
}

@media all and (min-width: 0px) and (max-width: 900px) {
  .main .right {
    width: 66.66666667%;
  }
}

.right .list2 {
  margin-bottom: 35px;
  background: #ffffff;
  padding: 21px 30px;
}

.list2 h3 {
  padding: 7px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  border-bottom: 1px solid #cccccc;
}

.list2 h3::after {
  content: "";
  width: 90px;
  height: 1px;
  background: #e67e22;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.list2 p {
  font-size: 14px;
}

.list2 .p1 {
  margin-top: 10px;
  color: #e67e22;
  font-size: 14px;
}

.list2 .p3 {
  margin-top: 10px;
  color: white;
  font-size: 14px;
  width: 290px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  background-color: #e67e22;
}

.list2 .biti a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
}

.list2 .biti a:hover {
  color: white;
  background-color: #e67e22;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media all and (min-width: 0px) and (max-width: 900px) {
  .footer {
    width: 66.66666667%;
  }
}

.footer .diyi {
  width: 100%;
  background: #959595;
  padding-top: 35px;
  display: flex;
}

.footer .diyi .list {
  width: 33.33333%;
  padding: 0px 30px;
}

.footer .diyi .list h4 {
  padding: 7px;
  margin-bottom: 20px;
  color: #ffffff;
  border-bottom: 1px solid #cccccc;
  position: relative;
}

.footer .list h4::after {
  content: "";
  width: 90px;
  height: 2px;
  background: #e67e22;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.footer .wenzi {
  padding: 0px 20px;
}

.footer .wenzi a {
  padding: 10px 20px;
  color: #cccccc;
  line-height: 10px;
  display: inline-block;
  margin: 0 7px 7px 0;
}

.footer .wenzi a:hover {
  color: #e67e22;
}

.footer .list2 {
  margin-bottom: 35px;
  padding: 0px 50px 0px 120px;
  width: 33.333%;
}

.footer .list2 h3 {
  padding: 7px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  position: relative;
}

.footer .list2 h3::after {
  content: "";
  width: 90px;
  height: 1px;
  background: #e67e22;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.footer .list2 .biti1 a {
  border: 1px solid #ebebeb;
  padding: 5px 8px;
  color: #cccccc;
  line-height: 10px;
  display: inline-block;
  margin: 0 7px 7px 0;
}

.footer .list2 .biti1 a:hover {
  color: white;
  background-color: #e67e22;
}

.jjj {
  background: #111;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
