*{
    padding: 0;
    margin: 0;
}
.tan{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-count: 4;
}
 li{
    width: 22%;
height: 200px;
list-style: none;
background-color: blue;
margin-bottom: 10px;
}

 @media all and (min-width:0px) and (max-width:400px){
    li{
      
       width: 96%;
         
    }
}
@media all and (min-width:401px) and (max-width:700px){
    li{
      
       width: 46%;
         
    }
}
@media all and (min-width:701px) and (max-width:1100px){
    li{
      
       width: 33%;
         
    }
}
@media all and (min-width:1101px) and (max-width:1349px){
    li{
      
       width: 23%;
         
    }
}