html,
body {
  height: 100%;
}
@function vw($px){
    @return ($px/750)*100vw;
}
#faxian {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#faxian header{
    height: vw(322);
    background-color: aqua
}
.main{
    flex: 1;
    background-color: aliceblue;
}
.footer{
    height: vw(108);
    background-color: black;
}