html,
body {
  height: 100%;
}

#faxian {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#faxian header {
  height: 42.93333vw;
  background-color: aqua;
}

.main {
  flex: 1;
  background-color: aliceblue;
}

.footer {
  height: 14.4vw;
  background-color: black;
}
